<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>桩考</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>坡道定点停车和起步</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>单边桥</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>连续障碍</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>曲线行驶</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>直角转弯</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>侧方停车</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>限速通过宽门</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>起伏路</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟紧急情况处置</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟高速行驶</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟连续急转弯山区行驶</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>窄路掉头</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟雨(雾)天行驶</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟隧道行驶</string>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
	</dict>
</array>
</plist>
